/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    /*  overflow-x: hidden; /* Esconde barra de rolagem horizontal */
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


/*Sección Menu*/

section.menu {
    width: 100%;
    
    padding: 0 32px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.menu__header {
    width: 100%; /* Ocupa todo el ancho disponible del viewport */
    max-width: 1136px; /* Ancho máximo permitido */
    height: 88px;
    display: flex;
    justify-content: space-between; /* Alinea los elementos del encabezado en los extremos */
    align-items: center; /* Centra verticalmente los elementos del encabezado */
     /* Añade espacio interno a los lados del encabezado */
    background-color: #ffffff; /* Color de fondo del encabezado */
    margin-top: 0; /* Elimina el margen superior */

    padding: 0 20px; /* Añade espacio interno a los lados del encabezado */

    /* Centra y distribuye el espacio equitativamente */
    margin: 0 auto; /* Centra el encabezado horizontalmente */
}

/* Estilo para el logo en el encabezado */
.menu__logo {
    width: 70px; /* Tamaño del logo */
    height: 40px; /* Mantiene la proporción del logo */
    margin-right: 10px; /* Margen derecho para separación */
}

.menu__title {
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
}

.menu__toggle {
    display: none; /* Oculta el icono de menú */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.menu__nav {
    display: block; /* Mostrar el menú en pantallas grandes por defecto */
}


/* Estilo para la lista del menú */
.menu__list {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos de la lista del menú */
    margin-top: 10px; /* Margen superior para separación */
    font-size: 16px;
    font-size: medium;
    list-style-type: none;
}

/* Estilo para los elementos de la lista del menú */
.menu__list__item {
    margin-right: 20px;
}

/* Estilo para el elemento de contacto en la lista del menú */
.menu__list__item__contato {
    margin-left: auto; /* Empuja el elemento de contacto hacia la derecha tanto como sea posible */
}

/* *Sección Título */
.title {
    display: flex;
    justify-content: center; /* Centra horizontalmente en el viewport */
    align-items: center; /* Centra verticalmente en el viewport */
    width: 100%; /* Ocupa todo el ancho disponible del viewport */
    margin: 0 auto; /* Centra el elemento horizontalmente dentro de su contenedor */
    padding: 32px;
}

.title__div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    width: 100%; /* Ocupa todo el ancho disponible del viewport */
    max-width: 1136px; /* Ancho máximo permitido */
    padding: 0 20px; /* Añade espacio interno a los lados del encabezado */
    background-color: aqua;
}

.title__profile {
    order: 2; /* Cambia el orden del elemento */
    width: 368px; /* Ancho de la imagen del perfil */
    height: 368px; /* Altura automática manteniendo la proporción */
    margin-top: 20px;
}

.title__container {
    order: 1; /* Cambia el orden del elemento */
    flex: 1; /* El contenido ocupará el espacio restante */
    margin: 30px;
}

.title__bio {
    font-size: 52px;
    font-weight: 500;
    font-weight: bold;
}

.title__subsection {
    font-size: 22px;
    margin-bottom: 16px; /* Margen inferior para separación */
    font-weight: medium;
}

.title__network {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.title__network__item a {
    text-decoration: none;
    color: #333; /* Color del texto */
    display: flex;
    align-items: center;
}



/* *Sección Sobre mí */
.about {
    padding: 64px 0;
}

.about__title {
    font-size: 32px;
    font-weight: 500;
}

.about__paragraph {
    margin-bottom: 24px;
}

/* Sección Hobbies */
.hobbies {
    padding: 64px 0;
}

.hobbies__title {
    font-size: 32px;
    font-weight: 500;
}

.hobbies__line {
    display: flex;
    flex-wrap: wrap;
}

.hobbies__box {
    flex: 0 0 50%;
    padding: 16px;
}

.hobbies__img {
    width: 48px;
    height: 48px;
}

/* Sección Skills */
.skills {
    padding: 64px 0;
}

.skills__title {
    font-size: 32px;
    font-weight: 500;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
}

.skills__box {
    flex: 0 0 50%;
    padding: 16px;
}

.skills__name {
    margin-top: 8px;
}

.skills__img {
    width: 48px;
    height: 48px;
}

/* Sección Formación Académica */
.academic {
    padding: 64px 0;
}

.academic__title {
    font-size: 32px;
    font-weight: 500;
}

.academic__courses {
    display: flex;
    flex-wrap: wrap;
}

.academic__courses__box {
    flex: 0 0 50%;
    padding: 16px;
}

.academic__courses__item__img {
    width: 48px;
    height: 48px;
}

/* Sección Experiencia Profesional */
.experience {
    padding: 64px 0;
}

.experience__section__title {
    font-size: 32px;
    font-weight: 500;
}

.experience__box {
    display: flex;
    margin-top: 32px;
}

.experience__img {
    width: 200px;
    height: 150px;
    margin-right: 24px;
}

.experience__info {
    flex: 1;
}

.experience__title {
    font-size: 24px;
    font-weight: 500;
}

.experience__text {
    font-size: 18px;
    margin-top: 8px;
}

.experience__description {
    margin-top: 16px;
}

/* Sección Contacto */
.formcontato {
    padding: 64px 0;
    display: flex;
    align-items: center;
}

.formcontato__img {
    width: 300px;
    height: auto;
    margin-right: 64px;
}

.formcontato__title {
    font-size: 32px;
    font-weight: 500;
}

.formcontato__subtext {
    font-size: 18px;
    margin-top: 16px;
}

.formcontato__form {
    margin-top: 32px;
}

.formcontato__input,
.formcontato__textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formcontato__botao {
    padding: 12px 24px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-link);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Sección Footer */
.footer {
    padding: 32px 0;
    text-align: center;
}

/* *** Estilos para dispositivos con ancho máximo de 900px *** */
@media screen and (max-width: 900px) {
     /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
    }
    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none; /* Ocultar el menú principal por defecto en dispositivos pequeños */
        width: 25%; /* Ocupar todo el ancho disponible */
        position: absolute; /* Posicionar de manera absoluta */
        top: 90px; /* Distancia desde la parte superior */
        right: 0; /* Pegar al borde derecho */
        background-color: #f8f9fa; /* Color de fondo */
        padding: 20px 20px 0 20px; /* Espaciado interno */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
        z-index: 1; /* Asegurar que esté encima de otros elementos */
    }
    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start; /* Alinear los elementos a la izquierda */
    }
    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start; /* Alinear cada elemento a la izquierda */
        width: 100%; /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease; /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px; /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto; /* Ajustar la altura automáticamente según el contenido */
    }
    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background-color: #ddd; /* Cambiar color de fondo en hover */
        border-radius: 5px;
        
    }
    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }
}
